<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168251099229-mg0ntaar217ikjobr6vk05hpnsht1q9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168251099229-mg0ntaar217ikjobr6vk05hpnsht1q9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCZhu0Xd2myT-yzmCqvV9sp0hsOGE4TOhw</string>
	<key>GCM_SENDER_ID</key>
	<string>168251099229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.IvanBiriukov.KeepCalm-Meditation</string>
	<key>PROJECT_ID</key>
	<string>keepcalm-13a29</string>
	<key>STORAGE_BUCKET</key>
	<string>keepcalm-13a29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168251099229:ios:a847040676214f93c8e5b4</string>
</dict>
</plist>